html {
    max-width: 1920px;
    margin: 0 auto;
}

.hero {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/15/53/wallets-1293507_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 170px;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: white !important;
}

.hero h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
}

.btn-custom {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 90px;
}

.services {
    background-color: white;
    padding: 100px 0;
    text-align: center;
}

.services h1 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
}

.services p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 50px;
}

.service-item {
    text-align: center;
    margin-bottom: 30px;
}

.service-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.service-row {
    margin-top: 100px;
}

.image-section {
    padding: 100px 0;
    background-color: #f9f9f9;
    margin-top: 0;
}

.image-item {
    margin-bottom: 30px;
}

.image-item img {
    width: 300px;
    height: 310px;
    object-fit: cover;
}

.image-description {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.image-description p {
    margin-top: 20px;
}

.image-title {
    margin: 0;
}

.portfolio-header {
    margin-top: 0;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 15px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    #slogan {
        font-size: 40px;
    }

    .navbar {
        position: relative;
        top: auto;
        right: auto;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        width: auto;
        margin: 10px 0;
    }

    .service-row .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}